<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qual Shelby Você é?</title>
</head>
<body>
<h2 class="post__title bg-ad--disabled" style="text-align: center;"><strong>QUAL DOS PEAKY BLINDERS VOC&Ecirc; &Eacute;?</strong></h2>
<h2 class="post__title bg-ad--disabled" style="text-align: center;"><img src="https://www.mdzol.com/u/fotografias/m/2020/10/24/f1280x720-972902_1104577_4938.jpg" alt="" width="500" height="281" /></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>API - desenvolvadurante o Entra 21 - 2022. Python Vespertino SENAC Blumenau</strong></p>
<p><strong>Para utilizar a API, prencha ao final do endere&ccedil;o deste site, a sua data de nascimento, no formato dd-mm-yyyy</strong></p>
<p>&nbsp;</p>
<p><strong>Exemplo:</strong></p>
<p>&nbsp;</p>
<p><strong><a href="https://minha-api-entra-21.ederjunior1.repl.co/21-07-2004">https://minha-api-entra-21.ederjunior1.repl.co<span style="color: #ff0000;">/21-07-2004</span></a></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Desenvovido por Eder.</strong></p>
</body>
</html>